.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161b22;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(158, 106, 3, 0.4);
    padding: 25px;
    border-radius: 25px;
    border: 2px solid rgba(187,128,9,0.4);
    min-width: 250px;
}